export(theme_minimal_btt)
export(theme_minimal_tt)
export(theme_tt)
export(theme_minimal_bttx)
export(theme_minimal_ttx)
export(laranja_sarto)
export(loc.label)
export(get_middle)
export(wd)
export(flextheme)
export(make_plot_gif)
export(make_gif)
export(get_TM)
export(exec_fun)
export(zap_message)
export(file2clip)
export(Filter2)
